.Guidance {
  color: red;
  text-align: center;
}

.names {
  color: blue;
}

p {
  text-align: center;
  color: black;
}

form {
  text-align: center;
}

.text-area {
  width: 400px;
  height: 40px;
}
.serch-btn {
  width: 100px;
  height: 40px;
  margin-left: 10px;
}


.pic {
  display: block;
  width: 555px;
  margin-left: auto;
  margin-right: auto;
}